<%= f.fields_for(:drink_liquor) do |dl_f| %>
  <p>
    <%= dl_f.label Liquor.name, "Liquor" %><br>
    <%= dl_f.collection_check_boxes :liquor_ids, Liquor.all, :id, :name %>
  </p>
<% end %>

<%= f.fields_for(:drink_mixer) do |dl_f| %>
  <p>
    <%= dl_f.label Mixer.name, "Mixer" %><br>
    <%= dl_f.collection_check_boxes :mixer_ids, Mixer.all, :id, :name %>
  </p>
<% end %>

<p>
    <%= f.label :flavor %><br>
    <%= f.select :flavor, Drink.flavors.keys %> 
</p>