
<section class="flavors">
   Flavor: <%= f.select :flavor, Drink.flavors.keys, include_blank: true %> 
</section>

<section class="liquors">
  Liquor: <%= collection_check_boxes :liquor, :Liquor_ids, Liquor.all, :id, :name do |b| -%>
    <%= b.check_box(class: "checkbox-new") + b.label(class: "checkbox-label-new") { b.text } %>
  <% end %>   
</section>

<section class="mixers">
  Mixer: <%= collection_check_boxes :mixer, :Mixer_ids, Mixer.all, :id, :name do |b| -%>
    <%= b.check_box(class: "checkbox-new") + b.label(class: "checkbox-label-new") { b.text } %>
  <% end %>
</section>