<%= form_for @drink do |f| %>
 
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@drink.errors.count, "error") %> prohibited
        this drink from being saved:
      </h2>
      <ul>
        <% @drink.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<p>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>

</p>

<p>
    <%= f.label :alcoholPerVolume %> <br>
    <%= f.text_area :alcoholPerVolume %>

</p>

<p>
    <%= f.label :flavor %> <br>
    <%= f.text_area :flavor %>

</p>
<<<<<<< HEAD



=======
>>>>>>> 1f6cf5ca66cc85a489c423124c0167e9db203f98
<p>
    <%= f.submit %>
</p>


 
<<<<<<< HEAD
<% end %>

<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>
=======
<% end %>
>>>>>>> 1f6cf5ca66cc85a489c423124c0167e9db203f98
