    <ul id="nav">
        
        <li> <%= link_to "Home", drinks_path, class: "button_to", :method => "get" %> </li>

        <li> <%= link_to "Search", drinks_search_path, class: "button_to", :method => "get" %> </li>
        

    </ul>

<%= form_for(:drink, url: drinks_search_results_path, method: :get ) do |f| %>

<div class="box2">
  <%= f.label Drink.name, "Drinks by Name" %><br>
  <%= f.collection_check_boxes :Drink_ids, Drink.all, :id, :name %>
</div>

<div class="box3">
  <%= f.label Liquor.name, "Liquor" %><br>
  <%= f.collection_check_boxes :Liquor_ids, Liquor.all, :id, :name %>
</div>

<div class="box2">
  <%= f.label Mixer.name, "Mixer" %><br>
  <%= f.collection_check_boxes :Mixer_ids, Mixer.all, :id, :name %>
</div>

<div class="box3">
    <%= f.label :flavor %><br>
    <%= f.select :flavor, Drink.flavors.keys %>
</div>

<div class="Submit">
 <%= f.submit "Submit", class: "btn btn-default" %> 
 <% end %>
</div>

   
   

    
</body>






<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>
