    <ul id="nav">
        
        <li> <%= link_to "Home", drinks_path, class: "button_to", :method => "get" %> </li>

        <li> <%= link_to "Search", drinks_search_path, class: "button_to", :method => "get" %> </li>
        

    </ul>



<%= form_for :drink, :url=> {:action => "results"} do |f| %>


  <%= f.label Drink.name, "Drinks by Name" %><br>
  <%= f.collection_check_boxes :Drink_ids, Drink.all, :id, :name, class:'drink_class' %>

    
  <%= f.label Liquor.name, "Liquor" %><br>
  <%= f.collection_check_boxes :Liquor_ids, Liquor.all, :id, :name, class:'liquor_class' %>




  <%= f.label Mixer.name, "Mixer" %><br>
  <%= f.collection_check_boxes :Mixer_ids, Mixer.all, :id, :name, class:'mixer_class' %>



    <%= f.label :flavor %><br>
    <%= f.select :flavor, Drink.flavors.keys, class:'flavor_class' %> 


<%= submit_tag "Search" %>
 <% end %>


   
   

    
</body>






<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>
