<%= form_for @drink do |f| %>
 

 
 <div class="new_box">
    <% if @drink.errors.any? %>
      <div class="error_explanation">
        <h2>
          <%= pluralize(@drink.errors.count, "error") %> prohibited
          this drink from being saved:
        </h2>
        <section class="error_outputs">
          <% @drink.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </section>
      </div>
      <br>
    <% end %>
  <section class="drink_name">
    Drink Name: <%= f.text_field :name , placeholder: "Name of new drink..." %>
  </section>
 
  <section class="alcoholPerVolumeRegion">
    Alcohol By Volume: <%= f.number_field :alcoholPerVolume, class: :text_field, step: 0.01, min: 0.00, max: 100.00, placeholder: "ABV percent..."%>
  </section>
 
 <%= render 'drink_dropdowns', f: f %>
 
  <section class="descriptionregion">
    <%= f.text_area :description, placeholder: "Description of new drink..." %>
  </section>
 </div>
   <section>
    <%= f.submit %>
  </section>
<% end %>