<%= form_for @drink do |f| %>
 
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@drink.errors.count, "error") %> prohibited
        this drink from being saved:
      </h2>
      <ul>
        <% @drink.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :alcoholPerVolume, "Alcohol Per Volume" %><br>
    <%= f.number_field :alcoholPerVolume, class: :text_field, step: 0.01, min: 0.00, max: 100.00 %>
  </p>
 
 <%= render 'drink_dropdowns', f: f %>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>