<%= form_tag(search_path.split('?').first, method: :get) do %>

<div class="box2">
  <%= label_tag "drinkName", "Name" %><br>
  <%= text_field_tag :name, params[:name] %>
</div>

<div class="box3">
  <%= label_tag "liquorName", "Liquor" %><br>
  <div id="liquorBoxes">
    <%= collection_check_boxes :liquor, :Liquor_ids, Liquor.all, :id, :name do |b| %>
      <%= b.label { b.check_box } %><br>
    <% end %>
  </div>
</div>

<div class="box2">
  <%= label_tag "mixerName", "Mixer" %><br>
  <div id="mixerBoxes">
    <%= collection_check_boxes :mixer, :Mixer_ids, Mixer.all, :id, :name do |b| %>
      <%= b.label { b.check_box } %><br>
    <% end %>
  </div>
</div>

<div class="box3">
  <%= label_tag "drinkFlavor", "Flavor" %><br>
  <%= select_tag :flavor, options_for_select(Drink.flavors), include_blank: true %>
</div>

<div class="Submit">
  <%= submit_tag "Search", class: "btn btn-default" %> 
</div>

<% end %>