<div id="navContainer">
    <ul id="nav">
        <li> <%= link_to "Home", drinks_path, class: "button_to", :method => "get" %> </li>
        <li> <%= link_to 'New drink', new_drink_path %> </li>
    </ul>
</div>

<h1>Drink Results</h1>

<%= link_to 'New drink', new_drink_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Alcohol Per Volume</th>
    <th>Flavor</th>
  </tr>
 
  <% @drinks.each do |drink| %>
    <tr>
      <td><%= drink.name %></td>
      <td><%= drink.alcoholPerVolume %></td>
      <td><%= drink.flavor %></td>
      <td><%= link_to 'Show', drink_path(drink) %></td>
      <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
      <td><%= link_to 'Destroy',
                  drink_path(drink),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>
