<body class="drink_body">
    <div class="drink_div">
    <div id="navContainer">

</div>
<div id="clearfix">
    <section class="box">
    <h2>Your Drink Recipes</h2>
   
<table>
  <tr>
    <th>Name</th>
    <th>Alcohol Per Volume</th>
    <th>Flavor</th>
  </tr>
 
  <% @drinks.each do |drink| %>
    <tr>
      <td><%= drink.name %></td>
      <td><%= drink.alcoholPerVolume %></td>
      <td><%= drink.flavor %></td>
      <td><%= link_to 'Add Mixer/Liquor', drink_path(drink) %></td>

      <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
      <td><%= link_to 'Destroy',
                  drink_path(drink),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
  <%= link_to 'New drink', new_drink_path %>

</table>
    </section>
    <section id="PaddingRegionBelow">
        
    </section>
    
    </section>

</div>
    </div>
</body>

<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>



