<<<<<<< HEAD
<div id="navContainer">
    <ul id="nav">
        <li> <%= link_to "Home", drinks_path, class: "button_to", :method => "get" %> </li>
        <li> <%= link_to 'New drink', new_drink_path %> </li>
    </ul>
</div>

<h1>New Drinks</h1>

 <%= render 'form' %>
 
<%= link_to 'Back', drinks_path %>
=======
<main>
    <%= render 'new_form' %>
</main>
>>>>>>> master
