<%= render 'header' %>

<%= render 'search_forms' %>

<div class="results">
    <div class="results_region">
            <H2>RESULTS</H2>
    </div>
    <div class="drinks_returned">
        <% @drinks.each do |drink| %>
            <section class="drink_result">
                <section class="drinkname"><%= drink.name %> || <%= drink.flavor %></section>
                <section class="drinkdescription"><%= drink.description %></section>
            </section>
            <br>
            <br>
        <% end %>
    </div>
</div>

<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>