<<<<<<< HEAD

<div id="drink_body">
<div class="table">
  <div class="table-row">
    <div class="table-head">Drink Name</div>
    <div class="table-head">Alc Content</div>
    <div class="table-head">Flavor</div>
    <div class="table-head">Liquors</div>
     <div class="table-head">Mixers</div>


  </div>
  <div class="table-row">
    <div class="table-cell"><%= @drink.name %></div>
    <div class="table-cell"><%= @drink.alcoholPerVolume %></div>
    <div class="table-cell"><%= @drink.flavor %></div>
    <div class="table-cell"> <%= render @drink.liquors %>   </div>
    <div class="table-cell"> <%= render @drink.mixers %>   </div>

    
  </div>
</div>



=======
<p>
    <strong>Name:</strong>
    <%= @drink.name %>
</p>

<p>
    <strong>Alcohol Per Volume:</strong>
    <%= @drink.alcoholPerVolume %>
</p>




<p>
    <strong>Flavor:</strong>
    <%= @drink.flavor %>
</p>


<h2>Mixers</h2>
<%= render @drink.mixers %>
<% @drink.mixers.each do |mixer| %>
  <p>
    <strong>Name:</strong>
    <%= mixer.name %>
  </p>
 
<% end %>



<h2>Liquors</h2>
<%= render @drink.liquors %>
<% @drink.liquors.each do |liquor| %>
  <p>
    <strong>Name:</strong>
    <%= liquor.name %>
  </p>
 
<% end %>
>>>>>>> 1f6cf5ca66cc85a489c423124c0167e9db203f98

<h2>Add a Liquor:</h2>
<%= render 'liquors/form' %>

<h2>Add a Mixer:</h2>
<%= render 'mixers/form' %>



<<<<<<< HEAD




<%= link_to 'Drink List', drinks_path %>
</div>
<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>
=======
<%= link_to 'Drink List', drinks_path %>
>>>>>>> 1f6cf5ca66cc85a489c423124c0167e9db203f98
